@model MVC_Project.Models.CarListingViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarListing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <td>
            @Html.DisplayFor(model => model.Make)
        </td>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <td>
            @Html.DisplayFor(model => model.Model)
        </td>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isAvailable)
        </dd>
		@foreach (var picture in Model.Pictures)
		{
			<dt class="col-sm-2">
			</dt>
			<dd class="col-sm-10">
				<img src="@picture" alt="Car Picture" style="max-width: 200px; max-height: 200px;" />
			</dd>
		}
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
