@using Microsoft.AspNetCore.Identity
@model MVC_Project.Models.BookingViewModel

@{
    ViewData["Title"] = "Create";
}
@if (User.Identity.IsAuthenticated)
    {
    <h1>Create</h1>

    <h4>Booking Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayFor(model => model.Customer.FirstName + "" + model.Customer.LastName)
                    </dt>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Car.Make + "" + model.Car.Model)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Car)
                    </dd>
                <dt class="col-sm-2">
                    Start Date
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    End Date
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
            </dl>
            <form asp-action="Create" onsubmit="return confirm('Your booking was successful!');">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Confirm Booking" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    }
    else
    {
	    <h1>Please log in to create a booking.</h1>
    }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
